.main {
  height: 110vh;
}
@media screen and (min-width: 415px) {
  .main {
    height: 72vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.main .contact {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
  padding-bottom: 1rem;
  margin: 1rem;
  border-bottom: 1px solid black;
  margin-top: 2rem;
}
@media screen and (min-width: 415px) {
  .main .contact {
    flex-flow: column wrap;
  }
}
.main .contact .icon {
  margin-top: 1rem;
}
.main .contact p {
  flex-flow: row wrap;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
@media screen and (min-width: 758px) {
  .social-icons {
    margin-top: 5rem;
    height: 7rem;
  }
}
.social-icons a {
  color: black;
}
