.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: #212121;
  color: whitesmoke;
  padding: 1rem;
  height: 100vh;
}
.footer h1 {
  border-bottom: 1px solid whitesmoke;
  margin-bottom: 1rem;
}
.footer h2 {
  margin-top: 1rem;
}
.footer address {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.footer address a {
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
}
.footer .follow-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.footer .follow-us h1 {
  margin-top: 1rem;
}
.footer .follow-us .social-icons {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row;
  width: 100vw;
}
.footer .follow-us .social-icons .icon {
  color: whitesmoke;
}
.copyright {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #212121;
  color: whitesmoke;
  padding-bottom: 2rem;
}
