.homepage {
  background-image: url('../images/houston.jpg');
  height: 85vh;
  width: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  .hero {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: white;
    height: 90vh;

    h1 {
      font-size: 2rem;
    }

    button {
      border: none;
      background-color: green;
      height: 3rem;
      width: 10rem;
      border-radius: 10%;
      color: whitesmoke;
      font-weight: bold;
      font-size: 1rem;
      margin-top: 1rem;
    }
  }
}
