.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 450px;
  background: #fefae0;
  background-color: #d8f3dc;
  /* Used if the image is unavailable */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}
@media screen and (min-width: 1586px) {
  .hero {
    background-image: url('../images/houston.jpg');
  }
}
.hero h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  color: black;
}
@media screen and (min-width: 768px) {
  .hero h1 {
    color: whitesmoke;
  }
}
.hero .link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  background-color: green;
  width: 20rem;
  height: 3rem;
  font-size: 1.5rem;
  color: whitesmoke;
  font-family: Montserrat-alternates, sans-serif;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 3rem 1rem;
}
.info h1 {
  font-size: 3rem;
}
.first-white-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: 1.5rem;
}
@media screen and (min-width: 768px) {
  .first-white-info {
    justify-content: space-evenly;
    height: 100vh;
  }
}
.first-white-info h1 {
  font-size: 3rem;
  line-height: 3rem;
}
.first-white-info iframe {
  width: 325px;
  height: 225px;
}
@media screen and (min-width: 768px) {
  .first-white-info iframe {
    height: 40%;
    width: 85%;
  }
}
@media screen and (min-width: 1586px) {
  .first-white-info iframe {
    height: 55%;
    width: 80%;
  }
}
.first-dark-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: #2e2e2e;
  color: whitesmoke;
  height: 100vh;
  padding: 30px;
}
@media screen and (min-width: 768px) {
  .first-dark-info {
    height: 40vh;
  }
}
.first-dark-info h1 {
  font-size: 32px;
}
.first-dark-info p {
  margin: 1.5rem 0px;
}
.second-white-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 1.5rem;
}
@media screen and (min-width: 768px) {
  .second-white-info {
    justify-content: space-evenly;
    padding: 5rem;
  }
}
@media screen and (min-width: 768px) {
  .second-white-info h4 {
    line-height: 3rem;
    margin: 2rem 0;
  }
}
.second-white-info h1 {
  font-size: 3rem;
  line-height: 3rem;
}
@media screen and (min-width: 768px) {
  .second-white-info h1 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 768px) {
  .second-white-info h6 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .second-white-info p {
    font-size: 1.5rem;
  }
}
.second-dark-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: #2e2e2e;
  color: whitesmoke;
  height: 100vh;
  padding: 30px;
}
@media screen and (min-width: 768px) {
  .second-dark-info {
    height: 40vh;
  }
}
.second-dark-info h1 {
  font-size: 32px;
}
.second-dark-info p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0px;
}
.third-white-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .third-white-info {
    justify-content: space-evenly;
  }
}
.third-white-info h1 {
  font-size: 3rem;
}
.third-white-info .images {
  margin: 1rem 0;
}
.third-white-info .banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100vh;
  margin: 1rem 0;
  background-image: url('../images/flowers.jpg');
  background-color: #cccccc;
  /* Used if the image is unavailable */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}
@media screen and (min-width: 1586px) {
  .third-white-info .banner {
    width: 100vw;
  }
}
.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: whitesmoke;
}
@media screen and (min-width: 768px) {
  .testimonials {
    height: 100vh;
  }
  .testimonials blockquote {
    margin: 2rem 0;
  }
}
@media screen and (min-width: 1586px) {
  .testimonials {
    width: 100vw;
  }
  .testimonials blockquote {
    margin: 2rem 0;
  }
}
.estimate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 5rem;
}
.estimate h1 {
  margin: 1rem 0;
}
