.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  background-image: url('../images/houston-small.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  height: 87vh;
  width: auto;
  @media screen and (min-width: 415px) {
    height: 100vh;
  }
  .hero {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 415px) {
      margin-left: 40rem;
    }
    h1 {
      font-size: 2rem;
      color: whitesmoke;
      @media screen and (min-width: 415px) {
        font-size: 5rem;
        color: black;
      }
    }
    p {
      margin-top: 1rem;
      color: whitesmoke;
      line-height: 1rem;
      @media screen and (min-width: 415px) {
        font-size: 2rem;
        line-height: 2rem;
        color: black;
      }
    }

    button {
      border: none;
      background-color: green;
      height: 3rem;
      width: 13rem;
      border-radius: 10px;
      color: whitesmoke;
      font-weight: bold;
      font-size: 1rem;
      margin-top: 1rem;
      margin-top: 15rem;
      font-family: Montserrat-alternates, sans-serif;
      @media screen and (min-width: 415px) {
        width: 15rem;
        font-size: 1.5rem;
        cursor: pointer;
        margin-top: 1rem;
      }
    }
  }
}
