.homepage {
  background-image: url('../images/houston.jpg');
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.homepage .hero {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: white;
  height: 90vh;
}
.homepage .hero button {
  border: none;
  background-color: green;
  height: 2rem;
  width: auto;
  border-radius: 10%;
  color: whitesmoke;
}
