.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 450px;
  background: #fefae0;
  background-color: #d8f3dc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  @media screen and (min-width: 1586px) {
    background-image: url('../images/houston.jpg');
  }

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    color: black;
    @media screen and (min-width: 768px) {
      color: whitesmoke;
    }
  }
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    background-color: green;
    width: 20rem;
    height: 3rem;
    font-size: 1.5rem;
    color: whitesmoke;
    font-family: Montserrat-alternates, sans-serif;
  }
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 3rem 1rem;
  h1 {
    font-size: 3rem;
  }
}
.first-white-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: 1.5rem;
  @media screen and (min-width: 768px) {
    justify-content: space-evenly;
    height: 100vh;
  }
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  iframe {
    width: 325px;
    height: 225px;
    @media screen and (min-width: 768px) {
      height: 40%;
      width: 85%;
    }
    @media screen and (min-width: 1586px) {
      height: 55%;
      width: 80%;
    }
  }
}
.first-dark-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: #2e2e2e;
  color: whitesmoke;
  height: 100vh;
  padding: 30px;
  @media screen and (min-width: 768px) {
    height: 40vh;
  }
  h1 {
    font-size: 32px;
  }
  p {
    margin: 1.5rem 0px;
  }
}
.second-white-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 1.5rem;
  @media screen and (min-width: 768px) {
    justify-content: space-evenly;
  }
  h4 {
    @media screen and (min-width: 768px) {
      font-size: 3rem;
    }
  }
  h1 {
    font-size: 3rem;
    line-height: 3rem;
    @media screen and (min-width: 768px) {
      font-size: 4rem;
    }
  }
  h6 {
    @media screen and (min-width: 768px) {
      font-size: 2rem;
    }
  }

  p {
    @media screen and (min-width: 768px) {
      font-size: 1.5rem;
    }
  }
}
.second-dark-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: #2e2e2e;
  color: whitesmoke;
  height: 100vh;
  padding: 30px;
  @media screen and (min-width: 768px) {
    height: 40vh;
  }
  h1 {
    font-size: 32px;
  }
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0px;
  }
}
.third-white-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 1rem;
  @media screen and (min-width: 768px) {
    justify-content: space-evenly;
  }
  h1 {
    font-size: 3rem;
  }
  .images {
    margin: 1rem 0;
  }

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    flex-flow: column;
    height: 100vh;
    margin: 1rem 0;
    background-image: url('../images/flowers.jpg');
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    @media screen and (min-width: 1586px) {
      width: 100vw;
    }
  }
}
.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: whitesmoke;
  @media screen and (min-width: 768px) {
    height: 100vh;
    blockquote {
      margin: 2rem 0;
    }
  }

  @media screen and (min-width: 1586px) {
    width: 100vw;
    blockquote {
      margin: 2rem 0;
    }
  }
}

// @media screen and (min-width: 361px) {

// }
