nav {
  position: absolute;
  background-color: whitesmoke;
  width: 100vw;
  height: 10vh;
  margin: 0;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    li {
      margin: 0 2rem;
      list-style: none;
      .link {
        text-decoration: none;
        color: black;
      }
    }
  }
}
