nav {
  background-color: whitesmoke;
}
nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
}
nav .links {
  display: none;
}
nav .open {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  color: black;
  height: 100vh;
}
nav .open .link {
  text-decoration: none;
}
nav .open .link h1 {
  color: black;
}
nav .icon {
  color: black;
}
