.navlinks {
  display: none;
}
.open {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: whitesmoke;
  z-index: 9999;
}
.open .navlink {
  color: #552931;
  text-decoration: none;
  cursor: pointer;
}
.nav-icon {
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (min-width: 1058px) {
  .nav-icon {
    padding: 20px 20px 0 0;
  }
}
@media screen and (min-width: 1058px) {
  .logo {
    padding: 20px 0 0 20px;
  }
}
