.work {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}
.work .title {
  margin-top: 7rem;
  font-family: Asap, sans-serif;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}
.work figure {
  color: black;
  margin-top: 1rem;
  padding-bottom: 1rem;
  max-width: 90%;
}
.work figure blockquote {
  margin: 0;
}
.work figure blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
  font-family: Montserrat-alternates, sans-serif;
}
.work figure blockquote p::before {
  content: '\201C';
}
.work figure blockquote p::after {
  content: '\201D';
}
@media screen and (min-width: 415px) {
  .work .images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
}
.work .images picture {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
@media screen and (min-width: 415px) {
  .work .images picture {
    flex-flow: column;
    max-width: 40%;
    max-height: 40%;
  }
}
.work .images picture img {
  margin-top: 1rem;
  max-width: 90%;
  padding-bottom: 0.5rem;
}
.work .images picture .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 1rem 0 0 0;
}
.work .images picture .content h4 {
  margin-left: 1rem;
  border-bottom: 1px solid black;
}
