.work {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}
.work .title {
  margin-top: 7rem;
  font-family: Asap, sans-serif;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}
.work figure {
  color: black;
  margin-top: 1rem;
  padding-bottom: 1rem;
  max-width: 90%;
}
.work figure blockquote {
  margin: 0;
}
.work figure blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 10px;
  font-family: Montserrat-alternates, sans-serif;
}
.work figure blockquote p::before {
  content: '\201C';
}
.work figure blockquote p::after {
  content: '\201D';
}
.images {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
@media screen and (min-width: 415px) {
  .images {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.images picture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
@media screen and (min-width: 415px) {
  .images picture {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
  }
}
.images picture img {
  margin: 1rem;
  border: none;
}
