.work {
  display: flex;
  height: 280vh;
  align-items: center;
  flex-flow: column wrap;
  .title {
    margin-top: 7rem;
    font-family: Asap, sans-serif;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
  }
  figure {
    color: black;
    margin-top: 1rem;
    padding-bottom: 1rem;

    max-width: 90%;
    blockquote {
      margin: 0;
    }

    blockquote p {
      padding: 15px;
      background: #eee;
      border-radius: 5px;
      font-family: Montserrat-alternates, sans-serif;
    }

    blockquote p::before {
      content: '\201C';
    }

    blockquote p::after {
      content: '\201D';
    }
  }
  .images {
    picture {
      display: flex;
      justify-content: center;
      flex-flow: column;
      align-items: center;
      img {
        margin-top: 1rem;
        max-width: 90%;
        padding-bottom: 0.5rem;
      }
      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        margin: 1rem 0 0 0;
        h4 {
          margin-left: 1rem;
          border-bottom: 1px solid black;
        }
      }
    }
  }
}
