.partner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  height: 100vh;

  .title {
    margin-top: 2rem;
  }
  picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    img {
      width: 95%;
    }
  }
  section {
    .btn {
      font-family: Asap, sans-serif;
      border: none;
      border-radius: 5px;
      background-color: green;
      color: whitesmoke;
      height: 3rem;
      margin: 0.5rem;
    }
  }
  .quote {
    margin: 0 1rem;
    line-height: 1.3rem;
    figure {
      blockquote {
        p {
          font-family: Montserrat-alternates, sans-serif;
        }
      }
    }
  }
}
