.partner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 1rem;
  height: 100%;
}
.partner picture img {
  margin: 1rem 0;
}
.partner .buttons {
  margin-bottom: 1rem;
}
.partner figure blockquote p {
  border-bottom: 1rem;
}
